body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:black;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 30px;
}
.nested-flex-container {
    display: flex;
    justify-content: space-between;
    margin-top: 5   0px;
    flex-direction: column;

}

.nested-items{
    margin: 5px;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
}



.child {
    height: 200px;
    width: 250px;
    text-align: center;
    border-radius: 10px;
    background-size:cover;
    background-position: center;
}

.child:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    grid-template-rows: repeat(2, 100px); 
    gap: 10px;
    margin: 1rem;
    padding: 1rem;
}
.grid-item {
    background: #ddd; 
    padding: 1rem; 
    text-align: center; 
}


h1{
    color: #ddd;
}